<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Expense</h4>
        <p class="card-description">Specify the amount and type</p>

        <form [formGroup]="incomeForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              formControlName="description"
              name="descripcion"
            />
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              formControlName="monto"
              name="monto"
            />
            <p>It must be a positive amount</p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br />
            <button
              *ngIf="type === 'income'"
              (click)="type = 'expense'"
              type="button"
              class="btn btn-primary btn-block"
            >
              Income
            </button>
            <button
              *ngIf="type === 'expense'"
              (click)="type = 'income'"
              type="button"
              class="btn btn-warning btn-block"
            >
              Expense
            </button>
          </div>

          <hr />
          <button
            type="submit"
            [disabled]="incomeForm.invalid"
            class="btn btn-success mr-2"
            *ngIf="!loading"
          >
            <i class="fa fa-save"></i>
            Add
          </button>

          <button
            [disabled]="true"
            *ngIf="loading"
            class="btn btn-success mr-2"
          >
            <i class="fa fa-spin fa-sync"></i>
            Please wait...
          </button>

          <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
